/* 1. white bg color to the top navigation */
.navigationbar {
  background-color: #FFFFFF;
  overflow: hidden;
}

/* 2. Style the links inside the navigation bar */
.navigationbar a {
  color: #808080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* 3. for logo */
.circle {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.circle:hover {
  filter: brightness(70%);
}

/* 4. Change the color of links on hover */
.navigationbar a:hover {
  color: purple;
}


/* 5. Add a color to the active/current link */
.navigationbar a.active {
  color: black;
  margin-right:5%;
}
.navigationbar a.active:hover {
  color: grey;
}

/* 6. Adding variation into the content */
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .content {
    float: left;
    width: 100%;
    text-decoration: none; 
  }

  .image {
    float: right;
    position: static;
  }

/* 7. button */
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color:#e60073;
    border-radius: 20px; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 150px;
  }

  .button:hover {
    transform: scale(1.1);
    color: #ff33a0;
  }

  /* 8. cards */
.card-container {
    display: flex;
    flex-direction: row; /* Display cards horizontally */
    justify-content: space-between; /* Distribute space between cards */
  }

.card {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    transition: 0.3s ease-in-out;
    background-color: white;
  }
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
  background-color: lightblue;
}

/* 9. web design */
.web_design {
    display: flex;
    flex-direction: row; /* Display cards horizontally */
    justify-content: space-between; /* Distribute space between cards */
  }

/* 9A-for cards */
.card {
    flex: 1;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    transition: 0.3s ease-in-out;
    background-color: white;
  }
  
.card:hover {
  max-width: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
  background-color: lightblue;
}

/* 9B-for the lines */
.lines {
  width: 100%;
  height: 45px;
  position: relative;
}

.left-line,
.right-line {
    content: "";
    position: absolute;
    margin: auto;
    width: 45%;
    height: 0.75px;
    top: 45%;
    background: grey;
}

.left-line {
    left: 0;
}

.right-line {
    right: 0;
}

/* 9C-for the button (basic_struct, active and hover) */
button {
    padding: 15px 35px;
    background-color: #3498db;
    display: block;
    margin: auto;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button {
  background-color: white; 
  color: deeppink; 
  border: 1px solid grey;
}

button:hover {
  background-color: deeppink;
  color: white;
}


/* footer */
body, h4, p, ul {
  margin: 0;
  padding: 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #E0E0E0;
    justify-content: space-between;
    color: black;
    text-align: left;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    gap: 100px;
}

ul {
  list-style: none;
}

.footer-column {
    flex: 1;
    padding: 20px;
    color: black;
}

.footer-column a {
  text-decoration: none;
  color: black;
}


