/* 1. white bg color to the top navigation */
.navigationbar {
  background-color: #FFFFFF;
  overflow: hidden;
}

/* 2. Style the links inside the navigation bar */
.navigationbar a {
  color: #808080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* 3. for logo */
.circle {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.circle:hover {
  filter: brightness(70%);
}

/* 4. Change the color of links on hover */
.navigationbar a:hover {
  color: purple;
}


/* 5. Add a color to the active/current link */
.navigationbar a.active {
  color: black;
  margin-right:5%;
}
.navigationbar a.active:hover {
  color: grey;
}